body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(74, 206, 247);
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
  color: rgb(46, 43, 43);
}

.input {
  border: 1px solid  rgb(46, 43, 43);
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
  background-color:rgb(254, 255, 255);
 
}

select {
  margin-left: .5rem;
  border: 1px solid  rgb(46, 43, 43);
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}